*{
    background-color: #d6cbd3;
    color: black;

};
.container {
    border: 10px, dashed, red;
};
h1 {
    text-align: center;
};
.card {
   box-shadow: 0 4px 8px 0 red;
    border-radius: 12p;
};
.UV-Index{
    color: green;
    color: red;
    color: yellow;
};