*{
    background-color: blanchedalmond;

};
.container {
    border: 10px, dashed, red;
};
h1 {
    text-align: center;
};
.card {
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 12p;
};
.UV-Index{
    color: green;
    color: red;
    color: yellow;
};