*{
    background-color: #a2b9bc;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
};
.container {
    border: 10px, dashed, red;
    width: auto;
    background-color: antiquewhite;
    padding: auto;
    box-shadow: 0 0 10px 2px;
};
h1 {
    text-align: center;
};
.card {
   box-shadow: 0 4px 8px 0 red;
    border-radius: 12p;
    border: 10px, dashed, red;
    width: auto;
    background-color: antiquewhite;
    padding: auto;
    
};
#UV-Index{
    color: green;
};